body{
    background-color:white;
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    padding-left: 20px;
     width:140px;
     margin: auto;
     height:auto;
 }
h4{
    color: #ccc;
    font-size: 18px;
    font-weight: 800;
}
h5{ 
    color: rgb(37, 37, 37);
    font-size: 16px;
    font-weight: 600;

}
.mainhead{ 
    position:fixed !important;
    background-color:#4aabe0;
    padding:10px;
    width: 100%;
    height: 80px;
}
.left_area h2{
    color: #fff;
    margin:0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}
.left_area span{
    color: burlywood;

}
.logout_btn{
    padding: 5px;
    text-decoration: none;
    float: right;
    margin-top:-40px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 600;
    color:#fff;
    transition:.5s;
    transition-property: background;
}
.logout_btn hover{
    background:orangered;
    color:#fff;
}
.sidebar{
    background:#4aabe0;
    margin-top: 70px;
    padding-top:  30px;
    position:fixed;
    left: 0;
    width: 250px;
    min-height: 100vh;
    max-height: fit-content;
    transition:.5s;
    transition-property: left;
}
.sidebar .profile_image{
    border-color: whitesmoke;
    margin-bottom:10px;
}
.sidebar .profile_image:hover{
    transform: scale(1.1);
    margin-bottom: 15px;

}
.sidebar h4{
    color:#ccc;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.sidebar a{
    color:#fff;
    display:block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
}
.sidebar a:hover{
    background:teal;
    transition:0.4s;
    transition-property: background;
}
sidebar i{
    padding-right: 10px;
}
.sidebar .current{
    background:#555658de;
    transition:0.4s;
    transition-property: background;
}
label #sidebar_btn{
    z-index: 1;
    color:#fff;
    position:fixed;
    cursor: pointer;
    padding-top: 10px;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition:0.5s;
    transition-property: color;
}
label #sidebar_btn hover{
   color: burlywood !important; 
}
#check:checked ~ .sidebar{
    left: -190px;
}
#check:checked ~ .sidebar a span{
    display:none;
}
#check:checked ~ .sidebar a {
    font-size: 20px ;
    margin-left: 170px;
    width: 80px;
}
.content{
    margin-left: 250px;
    background: #fff;
    min-height: 100vh;
    max-height: fit-content;
    transition:.5s;
}
#check:checked ~ .content{
    margin-left: 60px;
}
#check{
    display:none;
}
a {
    text-decoration: none !important;
    color:burlywood;
    }
    a:hover {
        
        font-weight: bolder;
        text-decoration: underline;
    }

.calendarContainer{
    background-color: whitesmoke;
    border:2px solid #ccc;
    border-radius: 10px;
    width: 92%;
    height: 95%;
    margin: auto;
    margin-top: 24px;
    padding:5px;
    box-shadow:0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
}


.Container2{
    background-color: #E8E8E8;
    border:2px solid #ccc;
    border-radius: 10px;
    margin: 5px 5px;
    width: 98%;
    height: 95%;
    margin: auto;
    margin-top: 20px;
    margin-right: 20px;
    padding:5px;
}
.dash{
    display:grid;
    grid-template-rows:40px 20% 2fr;
    row-gap: 5px;
    background-color: #E8E8E8;
    border:2px solid #ccc;
    border-radius: 5px;
    width: 96%;
    margin: auto;
    height: 85vh;
    padding:5px;
    box-shadow:0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
}
.top{
    background-color:#2f323ac2; 
}
.middle{
    background-color:#ccc;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
}
.lower{
    background-color:#ccc;
    display:grid;
    grid-template-columns: 40% 30% 30%;
    column-gap: 5px;
    margin-right: 5px;
    
}
.badges{
 background:olivedrab;
    width: 90%;
    height: 90%;
}